@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: mediumblue;
    color: mediumblue;
}

/* 태그 */
.mainDiv {
    background-color: beige;
    margin: 20px 0;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 10, 0.3);  
}
div {
    padding : 20px 5%;
}
div, input {
    font-family: 'IBMPlexSansKR-Regular';
}
button {
    font-family: 'establishRetrosansOTF';
}

li {list-style: none;}

h1 {
    font-family: 'Tenada';
    margin: 30px auto 20px auto;
    font-size: 2.5rem;
}

hr { margin: 20px 0 10px 0;}


/* class */
.on {
    color: gainsboro;
    text-decoration: line-through;
}

/* class style */
.inputTodo input, .inputTodo button, .showTodo button {
    border: 2px solid mediumblue;
    padding: 5px 11px;
    border-radius: 20px;
    color: mediumblue;
    box-shadow: 1px 1px 2px rgba(0, 0, 10, 0.3);  
}
.inputTodo input[type="text"] {
    width: 50%;
    background-color: transparent;
    padding: 8px 17px;
    transition: 0.2s;
    font-weight: bold;
}
.inputTodo input[type="text"]:focus {
    outline: none;
    background-color: mediumblue;
    color: beige;
    transition: 0.2s;
}
.inputTodo button {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 6px 11px 2px 11px;
}
.inputTodo button, .showTodo button {
    margin-left: 7px;
    background-color: mediumblue;
    color: beige;
    transition: 0.2s;
}
.showTodo button {
    padding-top: 9px;
    font-size: 1rem;
}
.inputTodo button:hover, .showTodo button:hover {
    background-color: transparent;
    color : mediumblue;
    transition: 0.2s;
}

.showTodo button:nth-child(2) {
    margin-left: 15px;
}
.todoList {
    width: 60%;
    margin: 10px auto 50px auto; padding: 0;
}
.todoList li p {
    width: 100%;
    font-weight: bold;
}
.todoList li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px dotted mediumblue;
}
.todoList li span {
    box-sizing: border-box;
    padding: 10px 20px;
    position: absolute;
    left: 30px; top: 45px;
}
.todoList li button {
    border-radius: 50px;
    border: none;
    background-color: mediumblue;
    color: beige;
    padding: 6px 7px 4px 7px;
    font-weight: bold;
    font-size: 0.3rem;
}


